@{
    ViewBag.Title = "Home Page";
}
    <div class="bg-no-overlay">
        <div class="row text-center">
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Make Reservation</h2>
        <p>
            You Can Make any Reservation In Our Hotel From Here With Jsut One Click With Out any Payment Method Or Many Procedure
        </p>
        <p>@Html.ActionLink("Learn More", "Search", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>See Our Deals</h2>
        <p>Even If You Don't To Make Reservation Till Now You Can See Our Offers For You Just Register and We Will Show You The Heaven.</p>
        <p>@Html.ActionLink("Learn More", "Search", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Travel</h2>
        <p>If You Need To travel Over World We Have Surprise For You We Have Branches over World</p>
        <br>
        <p>@Html.ActionLink("Learn More", "Search", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>